<h1>Listing stories</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Link</th>
    <th>Published at</th>
    <th>Text</th>
    <th>Magazine</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stories.each do |story| %>
  <tr>
    <td><%= story.title %></td>
    <td><%= story.author %></td>
    <td><%= story.link %></td>
    <td><%= story.published_at %></td>
    <td><%= story.text %></td>
    <td><%= story.magazine %></td>
    <td><%= link_to 'Show', story %></td>
    <td><%= link_to 'Edit', edit_story_path(story) %></td>
    <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Story', new_story_path %>
